:root{
    --white-color: #fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --star-gold-color:#FFCE3D;
    
    --header-height: 80px;
}

* {
    box-sizing: inherit;
}

html{
    font-family: 'PT Sans';
    font-style: normal;
    box-sizing: border-box;
}