:root{
    --white-color: #fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --star-gold-color:#FFCE3D;
    --hover-background: rgba(196, 182, 156,0.7);
    --hover-color: rgba(99, 96, 96, 0.7);
    --heading-color: #000000;
    --btn-color:#C4B69C;
    
    --header-height: 80px;
}

* {
    box-sizing: inherit;
}
html, body {
    margin: 0; /* Đặt margin bằng 0 để loại bỏ khoảng trắng mặc định */
    padding: 0; /* Đặt padding bằng 0 */
    height: 100%; /* Đặt chiều cao cho html và body */
}

html{
    font-family: 'PT Sans';
    font-style: normal;
    box-sizing: border-box;
}
/*Animation*/

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth {
    from{
        transform: scale(var(--growth-form));
    }to{
        transform: scale(var(--growth-to));
    }
}
/*Modal*/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal__body{
    display: flex;
    height: 100vh;
    --growth-form: 0.7;
    --growth-to:1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Btn */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color: var(--btn-color);
}