.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* background-color: linear-gradient(45deg, #f1f1f1, #e1e1e1, #d1d1d1); */
    background-color: #f1f1f1;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; /*Hiệu ứng chuyển tiếp mượt mà*/
  }
  
  .header.scrolled {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  .header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
  }
  .menu__mobile{
    display: none;
  }
  .header__logo{
    margin-top: 2px;
    margin-left: 60px;
  }
  .header__login-mobile{
    display: none;
  }
  .header__logo-img{
    width: 84px;
    height: 78px;
  }
  .header__nav{
    display: flex;
    align-items: center;
  }
  .header__nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .header__nav-item{
    margin: 0 54px;
    width: 82px;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
    color: var(--text-color);
  }
  
  .header__nav-item-link{
    text-decoration: none;
    color: var(--text-color);
  }
  
  .header__nav-item-link:hover,
  .header__navbar-item-icon:hover,
  .header__search-btn-icon:hover,
  .header__navbar-user-name:hover,
  .header__navbar-user-img:hover{
    color: rgba(99, 96, 96, 0.7);
    cursor: pointer;
  }
  /* Tìm kiếm */
  .header__search{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .header__search-link{
    position: relative;
    left: -20px;
    top: 3px;
    margin-left: -4px;
  }
  
  .header__search-btn-icon{
    width: 24px;
    height: 24px;
    color: #333;
  }
  
  #search{
    width: 100%;
    height: 28px;
    border: 1px solid var(--border-color);
    outline: none;
    color: var(--text-color);
    font-size: 14px;
    border-radius: 2px;
    padding: 0 4px;
    flex: 1;
  }
  /* User */
  .header__navbar-item{
    margin: 0 4px;
  }
  
  .header__navbar-item-icon{
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
    color: #333;
  }
  .header__navbar-item-link{
    position: relative;
  }
  .header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 4px;
    font-size: 16px;
    line-height: 12px;
    color: var(--white-color);
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid var(--white-color);
  
  }
  .header__navbar-user{
    display: flex;
    justify-content: space-around;
  }
  
  .header__navbar-user-name{
    margin-left: 4px;
    color: var(--text-color);
  }
  .header__navbar-user-name.login{
    position: relative;
  }
  .header__navbar-user-name.login::before{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--border-color);
    height: 12px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
  .active-login{
    display: none;
  }
  .header__navbar-user{
    width: 144px;
    color: var(--text-color);
    font-size: 16px;
  }
  
  .header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

/* Body */
.content{
    margin-top: 90px;
}
.cap-heading{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-left: 30px;
}

.content__title-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

.content__title-item-name{
    margin-left: 200px; 
}
.content__title-item-price{
    margin-left: 180px;
}
.content__cart-item-img{
    width: 120px;
    height: 120px;
}
.content__cart-item{
    display: flex;
    justify-content: space-around;
}
.cart-info-heading{
    margin: 0;
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #000000;

}
.cart-info-number{
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
}
.content__cart-price-remove{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart__remove{
    display: flex;
    width: 55px;
    height: 55px;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}

.cart__remove-icon{
    color :#4F4F4F;

}
.cart__price{
    margin-right: 10px;
}
.cart__remove{
    /* margin-left: 20px; */
}

.content__cart-list{
    padding:20px 0;
    width: 100%;
    border-top: 1px solid #ccc;
}

.content__cart-list:last-child{
    border-bottom: 1px solid #ccc;
}

.cart-info-quantity{
    display: flex;
    border: 1px solid #ccc;
    width: 100px;
    height: 36px;
    border-radius: 2px;
}
.cart-info-subtract,
.cart-info-plus {
    width: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cart-info-subtract:hover,
.cart-info-plus:hover{
    background-color: rgba(196, 182, 156, 0.8);
}

.cart-info-subtract{
    border-right: 1px solid #ccc;
}
.cart-info-plus{
    border-left: 1px solid #ccc;
}
.info{
    width: 488px;
    height: 560px;
    display: flex;
    flex-direction: column;
    border: 1px solid #C4B69C;
    border-radius:10px ;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 78px;
}

.info__heading{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #393939;

}

.info__input{
width: 459px;
height: 54px;
border-radius: 10px;
margin-bottom: 28px;
border: 1px solid #C4B69C;
padding: 8px;
}
.btn_checkout{
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 22px;
    color: #fff;
    width: 459px;
    height: 64px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    margin-top: 140px;
    background-color:#C4B69C ;   
}

.btn_checkout:hover{
    cursor: pointer;
    background-color: rgba(196, 182, 156, 0.8);
;
}
.cart__remove:hover{
    cursor: pointer;
    background-color: rgba(196, 182, 156, 0.8);
;
}
.cart__back{
    color: #000000;
    text-decoration: none;
    width: 24px;
    height: 24px;
}
.cart__back-icon{
    width: 24px;
    height: 24px;
    color: #4F4F4F;
}
.back__pay{
    display: flex;
    justify-content: space-between;
    margin-right: 700px;
    align-content: center;
    margin-top: 34px;
    align-items: center;
    margin-bottom: 34px;
}
.backtohome{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}
.pay{
    display: flex;
    align-items: center;
}
.total_pay{
    margin-left: 8px;
}

/* ====================================FOOTER=============================== */
/* Footer */
.footer{
    background: #C4B69C;
  }
  .footer__heading{   
    padding-left: 60px;
    font-family: 'SVN-Gotham';
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 120%;
    color: var(--heading-color);
    margin-bottom: 0;
  }
  .footer__list{
    list-style: none;
    padding-left: 60px;
  }
  .footer-item{
    margin-bottom: 6px;
  }
  .footer-item__p{
    width: 253px;
    padding-left: 60px;
  }
  .footer-item__link{
    text-align: center;
    text-decoration: none;
    width: 117px;
    height: 19px;
    font-family: 'SVN-Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--text-color);
  }
  
  .footer__social{
    display: flex;
    justify-content: space-between;
  }
  
  .footer__list-social{
    list-style: none;
  }
  .footer-item-social{
    margin-right: 24px;
  }
  .footer__info{
    padding-left: 60px;
    font-family: 'SVN-Gotham';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 120%;
    color: var(--heading-color);
  }
  
  .footer__list-social{
    display: flex;
  }
  
  .footer-item__link:hover{
    color: var(--hover-color);
  }



