/*Authen Modal*/
.modal{
    display: none;
}

.modal.active,
.auth-form-register.active,
.auth-form-login.active{
    display: block;
    margin: auto;
}
.auth-form-register,
.auth-form-login{
    display: none;
}
.auth-form-login,
.auth-form-register{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    z-index: 4;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-family: 'SVN-Gotham';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 24px;
    color: var(--btn-color);
    font-weight: 400;
    cursor: pointer;
}
.auth-form__form{

}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__polivy-text{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__socials{
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials-icon{
    font-size: 16px;
    margin-right: 4px;
}
.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #3A5A98;
}
.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials-title{
    margin: 0 0;
}

.auth-form__socials--google{
    color: #666;
    background-color: var(--white-color);
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 14px;
    color:#939393;
}
.auth-form__help-separate{
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #EAEAEA;
}
.auth-form__help-forgot{
    color: var(--btn-color);
}